@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:'Sunset';
    src: url('/src/fonts/SunsetBoulevard-Regular.fft'),
}

@font-face {
    font-family:'gilroyBold';
    src: url('/src/fonts/gilroyBold.woff2') format('woff2'),
         url('/src/fonts/gilroyBold.woff') format('woff');
}

@font-face {
    font-family:'gilroySemibold';
    src: url('/src/fonts/gilroySemibold.woff2') format('woff2'),
         url('/src/fonts/gilroySemibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'gilroyMedium';
    src: url('/src/fonts/gilroyMedium.woff2') format('woff2'),
         url('/src/fonts/gilroyMedium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'gilroyRegular';
    src: url('/src/fonts/gilroyRegular.woff2') format('woff2'),
         url('/src/fonts/gilroyRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.h1, h1 {
    @apply text-3xl font-gilroySemibold tracking-tight mb-5 sm:pt-7 md:pt-0
}

.table {
    @apply w-full text-base text-left text-gray-900 mb-5 font-gilroyRegular
}

.table thead{
    @apply text-xs text-gray-900 font-gilroySemibold 
}

.table thead th {
    @apply px-6 py-3 text-base
}

.view-more {
    @apply flex items-center font-medium text-lightGreen hover:text-lighterGreen
}

/* -------------------------- Sidebar --------------------------*/
.icon {
    transform: rotate(-90deg);
    @apply transition-all
}

.toggle-button.active .icon {
    transform: rotate(-1deg);
}

.toggle-button.active span {
    @apply text-lightGreen font-gilroyBold
}
.section-icon {
    opacity: 0.5;
    @apply transition-all
}

.toggle-button.active .section-icon {
    opacity: 1;
}



/*----------------------------------------------------*/

.profile-dropbown {
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 31px -8px rgba(0,0,0,0.29);
    
}


.mobile-logo,
.mobile-avatar {
    display: none;
}  
.avatar {
    background: #DAE2E7;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding-top: 1px;
    font-size: 20px;
    text-align: center;
    color: #696F71;
    margin-right: 7px;
}
@media (max-width: 640px) {
    .mobile-logo {
        display: block;
        margin: 0 auto;
        margin-top: -70px;
        margin-bottom: 30px;
    }  
    .mobile-avatar {
        display: block;
        width: 40px;
        height: 40px;
        padding-top: 6px;
        position: absolute;
        right: 20px;
        top: 25px;
    }
}


/* ---------------- Not available Item menu ----------------------*/
a.not-available {
    position: relative;
}
    
a.not-available > span::after{
    content: "";
    width: 50px;
    height: 2px;
    background: gray;
    position: absolute;
    left: 0;
    top: 9px;
}

.coming-soon {
    background: #DAF9E6;
    padding: .20rem 0.65rem;
    border-radius: 8px;
    font-size: .875rem;
    position: absolute;
    right: 20px;
    z-index: 1;
}


/*------------------------- BUTTONS -------------------------*/

.btn-primary[type="button"] {
    @apply text-white bg-primary transition-all hover:bg-primaryLight focus:ring-teal-100 font-gilroyRegular rounded-full px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.btn-secondary[type="button"] {
    @apply text-white bg-secondary transition-all hover:bg-secondaryLight focus:ring-emerald-200 font-gilroyRegular rounded-full px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.btn-success[type="button"] {
    @apply text-white bg-success transition-all hover:bg-successLight focus:ring-rose-200 font-gilroyRegular rounded-full px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.btn-danger[type="button"] {
    @apply text-white bg-danger transition-all hover:bg-dangerLight focus:ring-blue-300 font-gilroyRegular rounded-full px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.btn-warning[type="button"], .btn-warning[type="submit"]{
    @apply  bg-warning transition-all hover:bg-warningLight focus:ring-blue-300 font-gilroyRegular rounded-full px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.btn-info[type="button"] {
    @apply text-white bg-info transition-all hover:bg-infoLight focus:ring-blue-300 font-gilroyRegular rounded-full px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.btn-link[type="button"] {
    @apply text-primary transition-all font-gilroyRegular rounded-full px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}

/*------------------------- OUTLINE BUTTONS -------------------------*/
.btn-outline-primary[type="button"] {
    @apply py-2.5 px-5 mr-2 mb-2 font-gilroyRegular text-primary focus:outline-none bg-white rounded-full border border-primary hover:text-primaryLight focus:z-10;
}
.btn-outline-secondary[type="button"] {
    @apply py-2.5 px-5 mr-2 mb-2 font-gilroyRegular text-secondary focus:outline-none bg-white rounded-full border border-secondary hover:text-secondaryLight focus:z-10;
}
.btn-outline-success[type="button"] {
    @apply py-2.5 px-5 mr-2 mb-2 font-gilroyRegular text-success focus:outline-none bg-white rounded-full border border-success hover:text-successLight focus:z-10;
}
.btn-outline-danger[type="button"] {
    @apply py-2.5 px-5 mr-2 mb-2 font-gilroyRegular text-danger focus:outline-none bg-white rounded-full border border-danger hover:text-dangerLight focus:z-10;
}
.btn-outline-warning[type="button"] {
    @apply py-2.5 px-5 mr-2 mb-2 font-gilroyRegular text-warning focus:outline-none bg-white rounded-full border border-warning hover:text-warningLight focus:z-10;
}
.btn-outline-info[type="button"] {
    @apply py-2.5 px-5 mr-2 mb-2 font-gilroyRegular text-info focus:outline-none bg-white rounded-full border border-info hover:text-infoLight focus:z-10;
}
/* HEADINGS */


body h1, .h1 {
    @apply text-5xl font-gilroySemibold dark:text-white;
}
body h2, .h2 {
    @apply text-4xl font-gilroySemibold dark:text-white ;
}
body h3, .h3 {
    @apply text-3xl font-gilroySemibold dark:text-white;
}
body h4, .h4 {
    @apply text-2xl font-gilroySemibold dark:text-white;
}
body h5, .h5 {
    @apply text-xl font-gilroySemibold dark:text-white;
}
body h6, .h6 {
    @apply text-lg font-gilroySemibold dark:text-white;
}

/*----------------  Horizontal From -------------------*/
.input-group {
    @apply md:flex md:items-center mb-4;
    font-size: 16px;
}
.input-group label {
    @apply block text-gray-500 font-gilroyRegular md:text-right mb-1 md:mb-0 pr-4;
}
.input-group input {
    @apply block w-full p-3 border border-gray-300 rounded-lg bg-white focus:ring-blue-300 focus:border-gray-300 italic font-gilroyRegular text-gray-500;
}

.input-group .select {
    @apply font-gilroyRegular block w-full p-3 border border-gray-300 rounded-lg bg-white focus:ring-blue-300 focus:border-gray-300 italic text-gray-500;
}

/*----------------  Vertical From -------------------*/
.input-group.vertical {
    @apply md:block md:items-center mb-4 ;
    margin-bottom: -0.3rem;
}
@media (max-width: 767px) { 
    .input-group.vertical {
        margin-bottom: 0.7rem;
    }
}

.input-group.vertical label {
    @apply block text-gray-500 font-gilroySemibold md:text-left mb-1 md:mb-0 pr-4;
}


.input-group.vertical input {
    @apply block w-full p-3 border border-gray-300 focus:ring-blue-300 focus:border-gray-300 rounded-lg bg-white italic font-gilroyRegular text-gray-500;
}
